header {
    display:flex;
    width:100%;
    flex-wrap:wrap;
}

.omf-logo-header {
    display:flex;
    justify-content:center;
    margin-top:20px;
    padding-bottom:10px;
    width:100%;

    .omf_logo {
        width:145px;
     }

     .omf-menu-arrow {
        width:24%;
        color:#686565;
        margin-left:-67px;
     }
}