header {
    display:flex;
    width:100%;
    flex-wrap:wrap;
}

.omf-logo-header {
    @include logo-omf-base;
    margin-top:20px;
    width:100%;

    .omf-menu-arrow {
        color: #686565;
        display: flex;
        justify-content: start;
        width: 2%;
        margin-left: 10px;
        text-decoration:none;
     }
     
    .omf-menu-logo {
        @include logo-omf-base;
        width: 95%;
        margin-top:-5px;
        margin-left:-30px;
    }

    .omf_logo {
        width:145px;
     }

}