header {
    display:flex;
    width:100%;
    flex-wrap:wrap;
}

.omf-logo-header {
    @include logo-omf-base;
    margin-top:20px;
    width: 100%;

    .omf-menu-logo {
        @include logo-omf-base;
        flex:1;
        justify-content: space-around;
    }

    .omf-menu-arrow {
        display: flex;
        justify-content: center;
        color: #686565;
        text-decoration: none;
        margin-left: 10px;
    }
}

.white-space {
    @include logo-omf-base;
    width: 10%;
    align-self: center;
}