.first-sec-button, .first-menu-btn {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.first-sec-button .btn-main_search, .first-menu-btn .btn-main_search {
  border-radius: 20px;
  border: none;
  height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  font-weight: bold;
  color: white;
  font-size: 11px;
  padding-right: 10px;
  padding-left: 10px;
}
.first-sec-button .btn-cursor, .first-menu-btn .btn-cursor {
  cursor: pointer;
}

.first-menu-btn .order {
  margin-top: 17px;
  margin-bottom: -24px;
}

.btn-menu-order, .btn-main_search {
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 20px;
  border: none;
  height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  font-weight: bold;
  color: white;
  font-size: 11px;
  position: relative;
  z-index: 1;
}
.btn-menu-order:hover::after, .btn-main_search:hover::after {
  opacity: 1;
}
.btn-menu-order::after, .btn-main_search::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 20px;
  background: linear-gradient(to bottom right, #ff8bdf, #9c65df);
  opacity: 0;
  z-index: -1;
  transition: opacity 260ms;
}

header {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.omf-logo-header {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  margin-top: 20px;
  width: 100%;
}
.omf-logo-header .omf-menu-arrow {
  color: #686565;
  display: flex;
  justify-content: start;
  width: 2%;
  margin-left: 10px;
  text-decoration: none;
}
.omf-logo-header .omf-menu-logo {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  width: 95%;
  margin-top: -5px;
  margin-left: -30px;
}
.omf-logo-header .omf_logo {
  width: 145px;
}

footer {
  padding-left: 20px;
  background-color: #353535;
  color: white;
}
footer .footer-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  font-family: Shrikhand;
  padding-top: 10px;
}
footer .footer-text {
  font-size: 14px;
  padding-bottom: 10px;
}
footer .footer-text .footer-couverts .couverts {
  margin-right: 10px;
}
footer .footer-text .footer-partner .partner {
  margin-right: 7px;
  font-size: 14px;
}

body {
  font-family: "Roboto", "Shrikhand", sans-serif;
  margin: 0;
  padding: 0;
  min-width: 320px;
}

.first-section {
  background-color: #f7f7f7;
  margin-top: 0;
}
.first-section .omf-gps-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eaeaea;
  box-shadow: 0px -2px 1px rgba(128, 128, 128, 0.3607843137);
}
.first-section .omf-gps-section .gps_txt {
  font-weight: 450;
  color: #4d4c4c;
  font-size: 14px;
}
.first-section .omf-gps-section .omf_gps--grey {
  color: #353535;
  align-self: center;
  margin-right: 10px;
}
.first-section .h1-main {
  text-align: center;
  font-size: 20px;
}
.first-section .h2-main {
  text-align: center;
  font-weight: normal;
  font-size: 15px;
}

.h3-main {
  font-size: 18px;
  margin-left: 24px;
}

.second-section .filters-section .filters-styling {
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.second-section .filters-section .choose {
  cursor: pointer;
  width: 100%;
  width: 90%;
  border: solid #f7f7f7;
  background-color: #f7f7f7;
  border-radius: 15px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0px 2px 4px rgba(128, 128, 128, 0.3607843137);
}
.second-section .filters-section .choose:hover {
  background-color: #f5edff;
  border: solid #f5edff;
}
.second-section .filters-section .choose:hover .choose_margin {
  color: #9356DC;
}
.second-section .filters-section .choose .choose_margin {
  margin-right: 30px;
  margin-left: 25px;
  font-size: 16px;
}
.second-section .filters-section .choose .circle-1 {
  border: solid #9356DC;
  border-radius: 70px;
  padding: 5px 5px;
  font-size: 8px;
  margin-left: -12px;
  background-color: #9356DC;
  color: white;
  width: 2%;
  height: 1%;
  text-align: center;
  align-items: center;
}
.second-section .filters-section .compose {
  cursor: pointer;
  width: 90%;
  border: solid #f7f7f7;
  background-color: #f7f7f7;
  border-radius: 15px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0px 2px 4px rgba(128, 128, 128, 0.3607843137);
}
.second-section .filters-section .compose:hover {
  background-color: #f5edff;
  border: solid #f5edff;
}
.second-section .filters-section .compose:hover .compose_margin {
  color: #9356DC;
}
.second-section .filters-section .compose .compose_margin {
  margin-right: 27px;
  margin-left: 25px;
  font-size: 14px;
}
.second-section .filters-section .compose .circle-2 {
  border: solid #9356DC;
  border-radius: 70px;
  padding: 5px 5px;
  font-size: 8px;
  margin-left: -12px;
  background-color: #9356DC;
  color: white;
  width: 2%;
  height: 1%;
  text-align: center;
}
.second-section .filters-section .savor {
  cursor: pointer;
  width: 90%;
  border: solid #f7f7f7;
  background-color: #f7f7f7;
  border-radius: 15px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0px 2px 4px rgba(128, 128, 128, 0.3607843137);
}
.second-section .filters-section .savor:hover {
  background-color: #f5edff;
  border: solid #f5edff;
}
.second-section .filters-section .savor:hover .savor_margin {
  color: #9356DC;
}
.second-section .filters-section .savor .savor_margin {
  margin-right: 26px;
  margin-left: 25px;
  font-size: 15px;
}
.second-section .filters-section .savor .circle-3 {
  border: solid #9356DC;
  border-radius: 70px;
  padding: 5px 5px;
  font-size: 8px;
  margin-left: -12px;
  background-color: #9356DC;
  color: white;
  width: 2%;
  height: 1%;
  text-align: center;
}

.main-mainpage {
  background-color: #f7f7f7;
  padding-top: 20px;
  margin-top: 25px;
}
.main-mainpage .restaurants-main {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.main-mainpage .restaurants-bloc-image {
  display: flex;
  flex-direction: column;
}
.main-mainpage .restaurants-bloc-image .heart-icon {
  margin-left: 220px;
  font-size: 18px;
  margin-top: -66px;
}
.main-mainpage .restaurants-bloc-image .heart-icon:hover {
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-mainpage .restaurants-bloc-image .restaurants-main-info {
  border: solid white 0;
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-bottom: 25px;
  width: 260px;
  height: 190px;
  text-decoration: none;
  color: black;
  box-shadow: 0px 2px 4px rgba(128, 128, 128, 0.3607843137);
}
.main-mainpage .restaurants-bloc-image .restaurants-main-info .h3-restaurants-info {
  font-size: 16px;
  font-style: none;
}
.main-mainpage .restaurants-bloc-image .restaurants-main-info .restaurants-img {
  width: 100%;
}
.main-mainpage .restaurants-bloc-image .restaurants-main-info .restaurants-img-dim {
  height: 130px;
  width: 260px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.main-mainpage .restaurants-bloc-image .restaurants-main-info .card-text-main-1-2 .cards-title-main {
  margin-top: -35px;
  margin-left: 14px;
}
.main-mainpage .restaurants-bloc-image .restaurants-main-info .card-text-main-1-2 .cards-title-main .h3-restaurants-info {
  font-size: 15px;
}
.main-mainpage .restaurants-bloc-image .restaurants-main-info .card-text-main-1-2 .cards-title-main .restaurants-main-txt {
  font-size: 12px;
  margin-top: -6px;
}
.main-mainpage .restaurants-bloc-image .restaurants-main-info .card-text-main-3-4 .cards-title-main {
  margin-top: -10px;
  margin-left: 14px;
}
.main-mainpage .restaurants-bloc-image .restaurants-main-info .card-text-main-3-4 .cards-title-main .h3-restaurants-info {
  font-size: 15px;
}
.main-mainpage .restaurants-bloc-image .restaurants-main-info .card-text-main-3-4 .cards-title-main .restaurants-main-txt {
  font-size: 12px;
  margin-top: -6px;
}
.main-mainpage .restaurants-bloc-image .restaurants-main-info .new-main {
  width: 30%;
  height: 12%;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  position: relative;
  top: -124px;
  left: 170px;
  border-radius: 2px;
}
.main-mainpage .restaurants-bloc-image .restaurants-main-info .new-main .new-position {
  position: absolute;
  top: 1px;
  left: 11px;
}
.main-mainpage .restaurants-bloc-image .restaurants-main-info .new-main .new-position .new-main-style {
  font-size: 14px;
  color: #149374;
  font-weight: bold;
}

.background-fr {
  margin-bottom: -5px;
}
.background-fr .background-fr-dim {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.main-menus {
  background-color: #f7f7f7;
  margin-bottom: -40px;
}
.main-menus .menu-text {
  margin-top: -5px;
  margin-bottom: -14px;
  margin-right: 5px;
}
.main-menus .cards-menu-title {
  font-size: 14px;
  display: flex;
  font-weight: bold;
}
.main-menus .more-info-menu {
  font-size: 12px;
  margin-top: -5px;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main-menus .more-info-bloc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 13px;
}
.main-menus .price {
  font-size: 11px;
  font-weight: bold;
  margin-top: -5px;
}
.main-menus .menu-content {
  border: solid #ffffff;
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  width: 92%;
  margin-bottom: 10px;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.14);
  margin-right: 4px;
  margin-left: 4px;
  border: 0;
  cursor: pointer;
  flex-direction: row;
}
.main-menus .menu-content .slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-menus .menu-content .slider-content {
  width: 100%;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  padding-left: 15px;
  padding-right: 2%;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 65px;
}
.main-menus .menu-content .more-info-bloc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.main-menus .menu-content .menu-content-hover {
  background-color: #99E2D0;
  width: 0%;
  display: flex;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  justify-content: center;
  transition: width 0.6s ease-in-out;
}
.main-menus .menu-content .menu-content-hover .check-icon {
  transform: rotate(-260deg);
  transition: transform 1s, opacity 0.5s;
  color: white;
  font-size: 20px;
  text-align: center;
  opacity: 0;
}
.main-menus .menu-content:hover .menu-content-hover {
  width: 20%;
}
.main-menus .menu-content:hover .menu-content-hover .check-icon {
  transform: rotate(0);
  opacity: 1;
}
.main-menus .green-bar {
  text-decoration: underline #99E2D0 3px;
  text-underline-offset: 8px;
}
.main-menus .bloc-menu-francaise {
  padding: 8px 8px;
  background-color: #f7f7f7;
  border-top-left-radius: 34px;
  position: relative;
  top: -46px;
  border-top-right-radius: 34px;
}
.main-menus .bloc-menu-francaise .menu-name {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}
.main-menus .bloc-menu-francaise .menu-name .restaurant-name {
  font-family: shrikhand, sans-serif;
  font-size: 22px;
}
.main-menus .bloc-menu-francaise .menu-name .heart-menu {
  margin-top: 20px;
  margin-right: 30px;
  font-size: 20px;
}
.main-menus .entree, .main-menus .plats, .main-menus .desserts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.main-menus .entree .menu-cat-txt, .main-menus .plats .menu-cat-txt, .main-menus .desserts .menu-cat-txt {
  font-family: Roboto;
  font-size: 15px;
  margin-left: 7px;
  display: flex;
  align-self: start;
}

/*# sourceMappingURL=style.css.map */
