body {
    font-family: 'Roboto', 'Shrikhand', sans-serif;
    margin:0;
}

.first-section {
    background-color:#f7f7f7;
    margin-top:0;

    .omf-gps-section {
        display:flex;
        flex-direction:row;
        justify-content:center;
        background-color: #eaeaea;
        box-shadow: 0px -2px 1px #8080805c;

        .gps_txt {
            font-weight:450;
            color: #4d4c4c;
            font-size:14px;
        }

        .omf_gps--grey {
            color:#353535;
            align-self:center;
            margin-right:10px;
        }
    }

    .h1-main {
        text-align:center;
        font-size:20px;
    }

    .h2-main {
        text-align:center;
        font-weight:normal;
        font-size:15px;
    }
}

.h3-main {
    font-size:18px;
    margin-left:24px;
}
.second-section {
    .filters-section {
        .filters-styling {
            display:flex;
            flex-direction:column;
            margin-left:25px;
        }

        .choose {
            @include hover-cursor;
            &:hover {
                @include main-page-filters-hover;
                .choose_margin {
                color:#9356DC;
                }
            }

            @include main-page-filters-style;
            .choose_margin {
                margin-right:30px;
                margin-left:25px;
                font-size:16px;
            }

            .circle-1 {
                @include main-page-filters-circle;
                align-items: center;
             }
        }

        .compose {
            @include hover-cursor;
            &:hover {
                @include main-page-filters-hover;
                .compose_margin {
                    color:#9356DC;
                    }
                }

            @include main-page-filters-style;
            .compose_margin {
                margin-right:27px;
                margin-left:25px;
                font-size:14px;
            }

            .circle-2 {
                @include main-page-filters-circle;
            }
        }

        .savor {
            @include hover-cursor;
            &:hover {
                @include main-page-filters-hover;
                .savor_margin {
                    color:#9356DC;
                }
            }

            @include main-page-filters-style;
            .savor_margin {
                margin-right:26px;
                margin-left:25px;
                font-size:15px;
            }

            .circle-3 {
                @include main-page-filters-circle;
            }
        }
    }
}

.main-mainpage {
    background-color: #f7f7f7;
    padding-top:20px;
    margin-top:25px;
    .restaurants-main {
        display:flex;
        justify-content:center;
        padding-bottom:40px;
    }
        .restaurants-bloc-image {
            display:flex;
            flex-direction:column;

            .restaurants-main-info {
                border:solid white 0;
                background-color:white;
                border-top-left-radius:25px;
                border-top-right-radius:25px;
                border-bottom-right-radius:20px;
                border-bottom-left-radius:20px;
                margin-bottom:25px;
                width:260px;
                height:190px;
                text-decoration:none;
                color:black;
                box-shadow: 0px 2px 4px rgba(128, 128, 128, 0.3607843137);

                .h3-restaurants-info {
                    font-size:16px;
                    font-style: none;
                }

                .restaurants-card-margin {
                    margin-left:15px;
                    margin-top:-30px;
                }
                .restaurants-main-txt {
                    margin-top:-8px;
                    font-size:12px;
                }

                .heart-main {
                    &:hover {
                    background: -webkit-linear-gradient(#9356DC,#FF79DA);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    }
                    margin-left:220px;
                    font-size:18px;
                    margin-top:15px;
                }

                .restaurants-img {
                    width:100%;    
                }      

                .restaurants-img-dim {
                    height:130px;
                    width:260px;
                    border-top-left-radius:20px;
                    border-top-right-radius:20px;
                    object-fit:cover;
                }
    
            }
        }
    }
